[client]
port = 13306
socket          = /home/javad/mysqld/1/sock

[mysqld_safe]
socket          = /home/javad/mysqld/1/sock
nice            = 0
open-files-limit=102400
[mysqld_multi]
mysqld    = /local/home/javad/mysql-5.1.34-linux-i686-glibc23/bin/mysqld
mysqladmin = /local/home/javad/mysql-5.1.34-linux-i686-glibc23/bin/mysqladmin
log        = /local/home/javad/mysqld/multi.log
user      = root

[mysqld]
skip-external-locking

[mysqld1]
port            = 13306
socket          = /disk1/mysqld/sock
pid-file        = /disk1/mysqld/pid
datadir        = /disk1/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 1
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld2]
port            = 13307
socket          = /disk2/mysqld/sock
pid-file        = /disk2/mysqld/pid
datadir        = /disk2/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 2
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld3]
port            = 13308
socket          = /disk3/mysqld/sock
pid-file        = /disk3/mysqld/pid
datadir        = /disk3/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 3
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld4]
port            = 13309
socket          = /disk4/mysqld/sock
pid-file        = /disk4/mysqld/pid
datadir        = /disk4/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 4
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld5]
port            = 13310
socket          = /disk5/mysqld/sock
pid-file        = /disk5/mysqld/pid
datadir        = /disk5/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 5
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld6]
port            = 13311
socket          = /disk6/mysqld/sock
pid-file        = /disk6/mysqld/pid
datadir        = /disk6/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 6
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld7]
port            = 13312
socket          = /disk7/mysqld/sock
pid-file        = /disk7/mysqld/pid
datadir        = /disk7/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 7
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld8]
port            = 13313
socket          = /disk8/mysqld/sock
pid-file        = /disk8/mysqld/pid
datadir        = /disk8/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 8
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld9]
port            = 13314
socket          = /disk9/mysqld/sock
pid-file        = /disk9/mysqld/pid
datadir        = /disk9/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 9
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld10]
port            = 13315
socket          = /disk10/mysqld/sock
pid-file        = /disk10/mysqld/pid
datadir        = /disk10/mysqld/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 10
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld11]
port            = 13316
socket          = /disk1/mysqld2/sock
pid-file        = /disk1/mysqld2/pid
datadir        = /disk1/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 11
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld12]
port            = 13317
socket          = /disk2/mysqld2/sock
pid-file        = /disk2/mysqld2/pid
datadir        = /disk2/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 12
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld13]
port            = 13318
socket          = /disk3/mysqld2/sock
pid-file        = /disk3/mysqld2/pid
datadir        = /disk3/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 13
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld14]
port            = 13319
socket          = /disk4/mysqld2/sock
pid-file        = /disk4/mysqld2/pid
datadir        = /disk4/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 14
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld15]
port            = 13320
socket          = /disk5/mysqld2/sock
pid-file        = /disk5/mysqld2/pid
datadir        = /disk5/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 15
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld16]
port            = 13321
socket          = /disk6/mysqld2/sock
pid-file        = /disk6/mysqld2/pid
datadir        = /disk6/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 16
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld17]
port            = 13322
socket          = /disk7/mysqld2/sock
pid-file        = /disk7/mysqld2/pid
datadir        = /disk7/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 17
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld18]
port            = 13323
socket          = /disk8/mysqld2/sock
pid-file        = /disk8/mysqld2/pid
datadir        = /disk8/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 18
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld19]
port            = 13324
socket          = /disk9/mysqld2/sock
pid-file        = /disk9/mysqld2/pid
datadir        = /disk9/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 19
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld20]
port            = 13325
socket          = /disk10/mysqld2/sock
pid-file        = /disk10/mysqld2/pid
datadir        = /disk10/mysqld2/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 20
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld21]
port            = 13326
socket          = /disk1/mysqld3/sock
pid-file        = /disk1/mysqld3/pid
datadir        = /disk1/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 21
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld22]
port            = 13327
socket          = /disk2/mysqld3/sock
pid-file        = /disk2/mysqld3/pid
datadir        = /disk2/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 22
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld23]
port            = 13328
socket          = /disk3/mysqld3/sock
pid-file        = /disk3/mysqld3/pid
datadir        = /disk3/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 23
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld24]
port            = 13329
socket          = /disk4/mysqld3/sock
pid-file        = /disk4/mysqld3/pid
datadir        = /disk4/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 24
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld25]
port            = 13330
socket          = /disk5/mysqld3/sock
pid-file        = /disk5/mysqld3/pid
datadir        = /disk5/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 25
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld26]
port            = 13331
socket          = /disk6/mysqld3/sock
pid-file        = /disk6/mysqld3/pid
datadir        = /disk6/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 26
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld27]
port            = 13332
socket          = /disk7/mysqld3/sock
pid-file        = /disk7/mysqld3/pid
datadir        = /disk7/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 27
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld28]
port            = 13333
socket          = /disk8/mysqld3/sock
pid-file        = /disk8/mysqld3/pid
datadir        = /disk8/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 28
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld29]
port            = 13334
socket          = /disk9/mysqld3/sock
pid-file        = /disk9/mysqld3/pid
datadir        = /disk9/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 29
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld30]
port            = 13335
socket          = /disk10/mysqld3/sock
pid-file        = /disk10/mysqld3/pid
datadir        = /disk10/mysqld3/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 30
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld31]
port            = 13336
socket          = /disk1/mysqld4/sock
pid-file        = /disk1/mysqld4/pid
datadir        = /disk1/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 31
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld32]
port            = 13337
socket          = /disk2/mysqld4/sock
pid-file        = /disk2/mysqld4/pid
datadir        = /disk2/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 32
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld33]
port            = 13338
socket          = /disk3/mysqld4/sock
pid-file        = /disk3/mysqld4/pid
datadir        = /disk3/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 33
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld34]
port            = 13339
socket          = /disk4/mysqld4/sock
pid-file        = /disk4/mysqld4/pid
datadir        = /disk4/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 34
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld35]
port            = 13340
socket          = /disk5/mysqld4/sock
pid-file        = /disk5/mysqld4/pid
datadir        = /disk5/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 35
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld36]
port            = 13341
socket          = /disk6/mysqld4/sock
pid-file        = /disk6/mysqld4/pid
datadir        = /disk6/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 36
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld37]
port            = 13342
socket          = /disk7/mysqld4/sock
pid-file        = /disk7/mysqld4/pid
datadir        = /disk7/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 37
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld38]
port            = 13343
socket          = /disk8/mysqld4/sock
pid-file        = /disk8/mysqld4/pid
datadir        = /disk8/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 38
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld39]
port            = 13344
socket          = /disk9/mysqld4/sock
pid-file        = /disk9/mysqld4/pid
datadir        = /disk9/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 39
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld40]
port            = 13345
socket          = /disk10/mysqld4/sock
pid-file        = /disk10/mysqld4/pid
datadir        = /disk10/mysqld4/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 40
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld41]
port            = 13346
socket          = /disk1/mysqld5/sock
pid-file        = /disk1/mysqld5/pid
datadir        = /disk1/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 41
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld42]
port            = 13347
socket          = /disk2/mysqld5/sock
pid-file        = /disk2/mysqld5/pid
datadir        = /disk2/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 42
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld43]
port            = 13348
socket          = /disk3/mysqld5/sock
pid-file        = /disk3/mysqld5/pid
datadir        = /disk3/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 43
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld44]
port            = 13349
socket          = /disk4/mysqld5/sock
pid-file        = /disk4/mysqld5/pid
datadir        = /disk4/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 44
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld45]
port            = 13350
socket          = /disk5/mysqld5/sock
pid-file        = /disk5/mysqld5/pid
datadir        = /disk5/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 45
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld46]
port            = 13351
socket          = /disk6/mysqld5/sock
pid-file        = /disk6/mysqld5/pid
datadir        = /disk6/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 46
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld47]
port            = 13352
socket          = /disk7/mysqld5/sock
pid-file        = /disk7/mysqld5/pid
datadir        = /disk7/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 47
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld48]
port            = 13353
socket          = /disk8/mysqld5/sock
pid-file        = /disk8/mysqld5/pid
datadir        = /disk8/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 48
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld49]
port            = 13354
socket          = /disk9/mysqld5/sock
pid-file        = /disk9/mysqld5/pid
datadir        = /disk9/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 49
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld50]
port            = 13355
socket          = /disk10/mysqld5/sock
pid-file        = /disk10/mysqld5/pid
datadir        = /disk10/mysqld5/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 50
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld51]
port            = 13356
socket          = /disk1/mysqld6/sock
pid-file        = /disk1/mysqld6/pid
datadir        = /disk1/mysqld6/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 51
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400

[mysqld52]
port            = 13357
socket          = /disk2/mysqld6/sock
pid-file        = /disk2/mysqld6/pid
datadir        = /disk2/mysqld6/data/
basedir        = /local/home/javad/mysql-5.1.34-linux-i686-glibc23
server-id = 52
bind-address            = localhost
tmpdir =  /local/home/javad/mysqld/tmp/
open-files-limit=102400
